<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.purchasecooperation.cux.sinv.infra.mapper.RcwlAsnInterfaceMapper">
    <update id="updateSinvLineReturn">
        update sinv_rcv_trx_line t
        set     t.attribute_bigint1 = #{sinv.inventoryQuantity},
                t.attribute_varchar1 = #{sinv.receiptNo}
        where t.rcv_trx_line_id =
               (select a.rcv_trx_line_id from (select
                srtl.rcv_trx_line_id
                from
                sinv_rcv_trx_line srtl
                left join sinv_rcv_trx_header srth on srth.rcv_trx_header_id = srtl.rcv_trx_header_id
                where srtl.tenant_id = #{sinv.tenantId} and srtl.trx_line_num = #{sinv.lineNumber}
                and srth.trx_num = #{sinv.acceptanceNumber}) a)
    </update>

    <select id="checkSinvLineReturn" resultType="java.lang.Long">
        select
            count(*)
            from
            sinv_rcv_trx_line srtl
            left join sinv_rcv_trx_header srth on srth.rcv_trx_header_id = srtl.rcv_trx_header_id
            where srtl.tenant_id = #{sinv.tenantId} and srtl.trx_line_num = #{sinv.lineNumber}
            and srth.trx_num = #{sinv.acceptanceNumber}
    </select>

    <select id="selectSinvStatusCount" resultType="java.lang.Long">
        select
        count(*)
        from
        ssta_settle ss
        where ss.source_settle_line_num = #{sinv.lineNumber}
        and ss.source_settle_num = #{sinv.acceptanceNumber}
        and ss.tenant_id = #{sinv.tenantId}
        and ss.bill_status = 'BILLED'
    </select>

    <update id="deleteSinvLineReturn">
        update sinv_rcv_trx_line t
        set     t.attribute_bigint1 = null,
                t.attribute_varchar1 = null
        where t.rcv_trx_line_id =
               (select a.rcv_trx_line_id from (select
                srtl.rcv_trx_line_id
                from
                sinv_rcv_trx_line srtl
                left join sinv_rcv_trx_header srth on srth.rcv_trx_header_id = srtl.rcv_trx_header_id
                where srtl.trx_line_num = #{sinv.lineNumber}
                and srtl.tenant_id = #{sinv.tenantId}
                and srth.trx_num = #{sinv.acceptanceNumber}) a)
    </update>

    <select id="selectTenantIdByName" resultType="java.lang.Long">
        select ht.tenant_id from hpfm_tenant ht where ht.tenant_name = #{tenantName}
    </select>

</mapper>