<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.purchasecooperation.cux.order.infra.mapper.RcwlPoLineMapper">

    <select id="listLineDetail1" resultType="org.srm.purchasecooperation.cux.order.api.dto.RCWLPoLineDetailDTO">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        ( CASE WHEN #{nowDate}>spll.promise_delivery_date and sph.confirmed_flag = 1 and spl.cancelled_flag = 0 and sph.publish_cancel_flag = 0 and spll.closed_flag = 0 THEN (CASE spll.quantity WHEN spll.net_received_quantity THEN 0 ELSE 1 END) ELSE 0 END ) AS beyond_quantity,
        sph.tenant_id,
        sph.po_header_id,
        sph.supplier_company_id,
        sph.supplier_id,
        sph.company_id,
        sph.status_code,
        sph.confirmed_flag,
        sph.ou_id,
        sph.publish_cancel_flag,
        sph.po_source_platform as source_platform_code,
        sph.ship_to_location_id,
        sph.purchase_org_id,
        sph.ship_to_location_address,
        sph.agent_id,
        spl.attribute_varchar21,
        spl.attribute_varchar21 as budget_account_num,
        ifnull(sba.budget_account_name,sbat.budget_account_name) as budget_account_name,
        spl.po_line_id,
        spl.line_num,
        spll.original_quantity,
        spll.quantity,
        spll.po_line_location_type,
        spl.unit_price,
        spl.benchmark_price_type,
        spl.entered_tax_included_price,
        spl.line_amount,
        spl.tax_included_line_amount,
        ( CASE WHEN spl.brand IS NULL or spl.brand ='' THEN him.brand ELSE spl.brand END ) AS brand,
        ( CASE WHEN spl.specifications IS NULL or spl.specifications ='' THEN him.specifications ELSE spl.specifications END ) AS specifications,
        ( CASE WHEN spl.model IS NULL or spl.model ='' THEN him.model ELSE spl.model END ) AS model,
        spl.manufacturer_name,
        spl.display_line_num AS display_line_num,
        spl.unit_price_batch,
        spl.object_version_number AS line_version_number,
        (CASE WHEN spl.old_item_code IS NULL THEN him.used_item_code
        ELSE spl.old_item_code END) AS old_item_code,
        spl.rate,
        spl.consigned_flag,
        spl.returned_flag,
        spl.free_flag,
        spl.immed_shipped_flag,
        spl.unit_conversion_molecule,
        spl.unit_conversion_denominator,
        case spl.modify_price_flag
        when  2 then -1
        when  1 then 1
        when -1 then -1
        else 0
        end as modify_price_flag,
        spll.cancelled_flag,
        spll.closed_flag,
        spl.currency_code,
        spll.remark,
        spll.feedback,
        spll.need_by_date,
        spll.promise_delivery_date,
        spll.object_version_number AS location_version_number,
        spll.delivery_date_reject_flag AS delivery_date_reject_flag,
        spll.po_line_location_id,
        spll.line_location_num,
        spll.display_line_location_num AS display_line_location_num,
        spl.display_pr_num,
        spl.display_pr_line_num,
        /* 申请人逻辑补充：srm端取订单行，其次取采购申请头的申请人，接口过来的订单取发运行申请人*/
        case when sprl.pr_requested_name is null and sprh.pr_requested_name is null then spll.pur_req_applied_name
        when sprl.pr_requested_name is null then sprh.pr_requested_name
        else sprl.pr_requested_name end as pr_requested_name,
        spl.pr_requested_name AS pur_req_applied_name,
        spl.pr_requested_by,
        spll.ship_to_third_party_name,
        (CASE WHEN spll.ship_to_third_party_address IS NULL THEN sprl.receive_address ELSE spll.ship_to_third_party_address END) AS ship_to_third_party_address,
        (CASE WHEN spll.ship_to_third_party_contact IS NULL THEN CONCAT_WS('-',sprl.receive_contact_name,sprl.receive_tel_num) ELSE spll.ship_to_third_party_contact END) AS ship_to_third_party_contact,
        spll.frozen_flag,
        spll.urgent_flag,
        spll.inv_organization_id,
        spll.inv_inventory_id,
        spl.domestic_line_amount,
        spl.domestic_tax_included_line_amount,
        hc.currency_name,
        spl.tax_id,
        spl.pr_line_id,
        spl.pr_header_id,
        ( CASE WHEN spl.tax_rate IS NULL THEN ht.tax_rate ELSE spl.tax_rate END ) AS tax_rate,
        spl.item_id,
        case
        when spl.item_code is null then him.item_code
        else spl.item_code
        end as item_code,
        case
        when spl.item_name is null then him.item_name
        else spl.item_name
        end as item_name,
        (CASE WHEN spl.common_name IS NULL THEN him.common_name ELSE spl.common_name END) AS common_name,/*通用名*/
        spll.inv_location_id,
        hl.location_name,
        hi.inventory_name,
        spl.category_id,
        hic.category_name,
        spl.uom_id,
        hul.uom_name,
        hu.uom_code,
        hio.organization_name,
        hiog.organization_name as inv_organization_name,
        hupl.uom_name AS price_uom_name,
        hup.uom_code AS price_uom_code,
        spl.product_id,
        spl.product_num,
        spl.product_name,
        hut.unit_id,
        hut.unit_name,
        sprh.pr_type_id,
        CONCAT(ssr.source_num,CONCAT('|',ssr.item_num)) as source_num_and_line,
        --             CONCAT(sprh.display_pr_num,CONCAT('|',sprl.display_line_num)) as display_pr_num_and_display_pr_line_num,
        spl.catalog_name,
        spl.ladder_inquiry_flag,
        -- (case when spch.pc_num is null then concat(spchd.pc_num,CONCAT('|',spsj.line_num)) else concat(spch.pc_num,CONCAT('|',sps.line_num)) end) AS  contract_num,
        IFNULL((
        CASE
        WHEN spch.pc_num IS NULL THEN
        concat(
        spchd.pc_num,
        CONCAT( '|', spsj.line_num )) ELSE concat(
        spch.pc_num,
        CONCAT( '|', sps.line_num ))
        END
        ),
        spl.pc_num
        ) AS contract_num,
        --             查询出订单来源的申请信息
        --             case when spch.pc_source_code='PURCHASE_NEED' then concat(sps.source_code,CONCAT('|',sps.source_line_num)) else CONCAT(sprh.display_pr_num,CONCAT('|',sprl.display_line_num))
        --             end as display_pr_num_and_display_pr_line_num,
        case    when spch.pc_source_code='PURCHASE_NEED'      then concat(sps.source_code,CONCAT('|',sps.source_line_num))
        /*申请——》订单*/
        when sprh.display_pr_num is not null          then CONCAT(sprh.display_pr_num,CONCAT('|',sprl.display_line_num))
        /*申请->寻源->协议->订单*/
        when srlipc.pr_line_id is not null            then CONCAT(srlipc.pr_num,CONCAT('|',srlipc.pr_line_num))
        when sblipc.pr_line_id is not null            then CONCAT(sblipc.pr_num,CONCAT('|',sblipc.pr_line_num))
        /*申请->寻源->订单*/
        when srli.pr_line_id is not null              then CONCAT(srli.pr_num,CONCAT('|',srli.pr_line_num))
        when sbli.pr_line_id is not null              then CONCAT(sbli.pr_num,CONCAT('|',sbli.pr_line_num))
        /*ERP传过来的订单查询 pr编码和pr行*/
        when spll.erp_pr_num is not null              then CONCAT(spll.erp_pr_num,CONCAT('|',spll.erp_pr_line_num))
        end as display_pr_num_and_display_pr_line_num,
        -- srm-29602 查询寻源转订单的来源单据的"是否含税"flag
        CASE WHEN sph.source_bill_type_code = 'SOURCE'
        AND ssr.source_from='RFX'
        AND srli.tax_included_flag IS NOT NULL
        THEN srli.tax_included_flag
        WHEN sph.source_bill_type_code = 'SOURCE'
        AND ssr.source_from='BID'
        AND sbli.tax_included_flag IS NOT NULL
        THEN sbli.tax_included_flag
        ELSE NULL
        END AS tax_included_flag,


        case when spch.pc_source_code='SEARCH_SOURCE_RESULT' then concat(sps.source_code,CONCAT('|',ssrpc.item_num)) else null end as source_code_num,
        --             concat(sps.source_code,CONCAT('|',sps.source_line_num))AS  source_code_num,
        (case when sps.pc_subject_id is null then spsj.pc_subject_id else sps.pc_subject_id end) as hold_pc_line_id,
        (case when spch.pc_header_id is null then spchd.pc_header_id else spch.pc_header_id end) as hold_pc_header_id,
        (case when spch.pc_num is null then spchd.pc_num else spch.pc_num end) as hold_pc_num,
        (case when sps.line_num is null then spsj.line_num else sps.line_num end) as hold_pc_line_num,
        sps.quantity - (case when sps.chanage_order_quantity is null then 0 else sps.chanage_order_quantity end) + (case when spl.quantity is null then 0 else spl.quantity end) can_hold_pc_quantity,
        sprl.quantity - (case when sprl.occupied_quantity is null then 0 else sprl.occupied_quantity end)  + (case when spl.quantity is null then 0 else spl.quantity end) can_hold_pr_quantity,
        sprl.item_id pr_line_item_id,
        sph.source_bill_type_code,
        spl.price_library_id,
        CASE
        WHEN spl.origin_unit_price is not null THEN spl.origin_unit_price
        WHEN spl.price_library_id is not null and sspl.tax_rate = 0 THEN sspl.unit_price
        WHEN spl.price_library_id is not null and sspl.tax_rate >0 THEN round((sspl.unit_price * (1+sspl.tax_rate * 0.01)),2)
        WHEN (sph.po_source_platform ='CATALOGUE' or sph.po_source_platform ='E-COMMERCE') and spl.pr_header_id is not null and spl.pr_line_id is not null THEN sprl.tax_included_unit_price
        ELSE null
        END AS origin_unit_price,
        CASE
        WHEN spll.need_by_date = spll.promise_delivery_date THEN 1
        ELSE 0
        END AS date_equally_flag,
        CASE
        WHEN
        spll.delivery_sync_status IS NOT NULL THEN
        spll.delivery_sync_status ELSE sph.delivery_sync_status
        END AS delivery_sync_status,

        CASE
        WHEN
        spll.delivery_sync_response_msg IS NOT NULL THEN
        spll.delivery_sync_response_msg ELSE sph.delivery_sync_response_msg
        END AS delivery_sync_response_msg,

        CASE
        WHEN
        spll.delivery_sync_date IS NOT NULL THEN
        spll.delivery_sync_date ELSE sph.delivery_sync_date
        END AS delivery_sync_date,
        spl.last_purchase_price,/*最近一次采购价*/
        spl.department_id,/*部门ID*/
        hutl.unit_name AS department_name,
        spl.clear_organization_id,/*结算财务组织ID*/
        hpo.organization_name as clear_organization_name,
        spl.cope_organization_id ,/*应付组织ID*/
        hpo2.organization_name as cope_organization_name,
        ( CASE WHEN spl.chart_code IS NULL or spl.chart_code ='' THEN him.chart_code ELSE spl.chart_code END ) AS chart_code,/*图号*/
        ( CASE WHEN spl.chart_code IS NULL or spl.chart_code ='' THEN him.chart_code ELSE spl.chart_code END ) AS chart_code_new,/*图号*/
        ( CASE WHEN spl.chart_version IS NULL or spl.chart_version ='' THEN him.drawing_version ELSE spl.chart_version END ) AS chart_version,/*图纸版本*/
        spl.surface_treat_flag,/*表面处理标识(1为是，0为否)*/
        /*spl.pc_num,协议编号*/
        spl.jd_price,/*划线价*/
        spl.supplier_item_num,/*供应商料号*/
        spl.supplier_item_desc,/*供应商料号描述*/
        spl.production_order_num,/*生产工单号*/
        spl.project_category,/*项目类别*/
        spl.tax_without_freight_price,
        spl.account_assign_type_id,
        saat.account_assign_type_code,
        spl.cost_id,
        spl.price_contract_flag,
        scc.cost_code,
        scc.cost_name,
        spl.account_subject_id,
        spl.account_subject_num,
        sas.account_subject_name,
        spl.wbs_code,
        spl.wbs,
        spl.attachment_uuid,
        spl.price_tax_id,
        spll.confirm_flag,
        /*预计送货时间*/
        spll.expect_ship_date,
        spl.ladder_quotation_flag,
        /*需求物料描述*/
        spl.attribute_varchar10,
        spl.pc_header_id,
        spl.pc_num
        FROM
        sodr_po_line_location spll
        JOIN sodr_po_line spl ON spl.po_line_id = spll.po_line_id
        JOIN sodr_po_header sph ON sph.po_header_id = spl.po_header_id
        LEFT JOIN smdm_uom hu ON spl.uom_id = hu.uom_id
        LEFT JOIN smdm_uom_tl hul on hu.uom_id=hul.uom_id and hul.lang=#{lang}
        --         left join sprm_pr_line sprl on sprl.pr_line_id = spl.pr_line_id
        --         left JOIN sprm_pr_header sprh ON sprl.pr_header_id = sprh.pr_header_id
        LEFT JOIN smdm_item_category hic ON spl.category_id = hic.category_id
        LEFT JOIN hpfm_inv_organization hio ON spll.ship_to_organization_id = hio.organization_id
        LEFT JOIN hpfm_inv_organization hiog ON spll.inv_organization_id = hiog.organization_id
        LEFT JOIN hpfm_inventory hi ON spll.inv_inventory_id = hi.inventory_id
        LEFT JOIN hpfm_location hl ON spll.inv_location_id = hl.location_id
        LEFT JOIN smdm_item him ON spl.item_id = him.item_id
        LEFT JOIN smdm_tax ht ON spl.tax_id = ht.tax_id
        LEFT JOIN smdm_currency hc ON spl.currency_code = hc.currency_code AND hc.tenant_id = spll.tenant_id
        LEFT JOIN smdm_uom hup ON spl.price_uom_id = hup.uom_id
        LEFT JOIN smdm_uom_tl hupl on hup.uom_id=hupl.uom_id and hupl.lang=#{lang}
        LEFT JOIN hpfm_unit hut ON spl.demand_unit_id=hut.unit_id
        --         LEFT JOIN ssrc_source_change_history ssch on spl.po_line_id=ssch.execute_bill_line_id and ssch.executing_state='ORDER'
        --         LEFT JOIN ssrc_source_result ssr on ssr.result_id=ssch.source_result_id
        --         LEFT JOIN spcm_pc_change_history spcch ON spl.po_line_id = spcch.execute_bill_line_id
        --         LEFT JOIN spcm_pc_subject sps ON spcch.pc_subject_id=sps.pc_subject_id
        --         LEFT JOIN spcm_pc_header spch ON sps.pc_header_id = spch.pc_header_id
        --         LEFT JOIN ssrc_source_result ssrpc ON ssrpc.result_id = sps.source_line_num AND spch.pc_source_code = 'SEARCH_SOURCE_RESULT'
        LEFT JOIN spcm_po_change_history spoch ON spl.po_line_id = spoch.execute_bill_line_id AND spoch.tenant_id = #{tenantId,jdbcType=DECIMAL}
        LEFT JOIN spcm_pc_subject spsj ON spoch.pc_subject_id=spsj.pc_subject_id
        LEFT JOIN spcm_pc_header spchd ON spsj.pc_header_id = spchd.pc_header_id
        LEFT JOIN hpfm_unit_tl hutl on hutl.unit_id = spl.department_id and hutl.lang = #{lang}
        LEFT JOIN hpfm_purchase_organization hpo ON hpo.purchase_org_id = spl.clear_organization_id
        LEFT JOIN hpfm_purchase_organization hpo2 ON hpo2.purchase_org_id = spl.cope_organization_id
        LEFT JOIN ssrc_price_library sspl ON sspl.price_library_id = spl.price_library_id
        LEFT JOIN smdm_account_subject sas ON sas.account_subject_id = spl.account_subject_id
        LEFT JOIN smdm_cost_center scc ON scc.cost_id = spl.cost_id
        LEFT JOIN sprm_account_assign_type saat ON saat.account_assign_type_id = spl.account_assign_type_id
        LEFT JOIN sslm_external_supplier es on sph.supplier_id = es.supplier_id
        LEFT JOIN hpfm_company hsesc ON hsesc.company_id = es.link_id

        /*申请->订单*/
        left join sprm_pr_line sprl on sprl.pr_line_id = spl.pr_line_id
        left JOIN sprm_pr_header sprh ON sprl.pr_header_id = sprh.pr_header_id

        /*申请->寻源->订单*/
        /*申请->立项->寻源->订单*/
        LEFT JOIN ssrc_source_change_history ssch on spl.po_line_id=ssch.execute_bill_line_id and ssch.executing_state='ORDER'
        LEFT JOIN ssrc_source_result ssr on ssr.result_id=ssch.source_result_id
        LEFT JOIN ssrc_rfx_line_item srli on srli.rfx_line_item_id=ssr.source_line_item_id AND ssr.source_from='RFX'
        LEFT JOIN ssrc_bid_line_item sbli on sbli.bid_line_item_id=ssr.source_line_item_id AND ssr.source_from='BID'

        /*申请-》协议——》订单*/
        LEFT JOIN spcm_pc_change_history spcch ON spl.po_line_id = spcch.execute_bill_line_id AND spl.po_header_id=spcch.execute_bill_header_id
        LEFT JOIN spcm_pc_subject sps ON spcch.pc_subject_id=sps.pc_subject_id
        LEFT JOIN spcm_pc_header spch ON sps.pc_header_id = spch.pc_header_id
        /*申请->寻源->协议->订单*/
        /*申请->立项->寻源->协议->订单*/
        LEFT JOIN ssrc_source_result ssrpc ON ssrpc.result_id = sps.source_line_num AND spch.pc_source_code = 'SEARCH_SOURCE_RESULT'
        LEFT JOIN ssrc_rfx_line_item srlipc on srlipc.rfx_line_item_id=ssrpc.source_line_item_id AND ssrpc.source_from='RFX'
        LEFT JOIN ssrc_bid_line_item sblipc on sblipc.bid_line_item_id=ssrpc.source_line_item_id AND ssrpc.source_from='BID'
        LEFT JOIN smdm_budget_account sba ON sba.budget_account_num = spl.attribute_varchar21
        LEFT JOIN smdm_budget_account_tl sbat ON sbat.budget_account_id = sba.budget_account_id AND sbat.lang = #{lang}
        WHERE
        1 = 1
        AND spll.po_header_id = #{poHeaderId,jdbcType=DECIMAL}
        AND spll.tenant_id = #{tenantId,jdbcType=DECIMAL}
        <bind name="userDetails" value="@io.choerodon.core.oauth.DetailsHelper@getUserDetails()"/>
        <if test="userDetails != null and userDetails.organizationId!=userDetails.tenantId">
            and sph.supplier_tenant_id=#{userDetails.organizationId}
        </if>
        ORDER BY spl.line_num, spll.line_location_num
    </select>
    <select id="selectContractResult" resultType="org.srm.purchasecooperation.order.api.dto.ContractResultDTO">
        SELECT
        spc.quantity,
        spc.chanage_order_quantity,
        spc.quantity - spc.chanage_order_quantity AS residue_order_quantity,
        spc.pc_subject_id,
        spc.pc_header_id,
        spc.tenant_id,
        spc.line_num,
        spc.display_line_num,
        spc.item_id,
        spc.item_code,
        spc.item_name,
        spc.specification,
        spc.uom_id,
        CASE

        WHEN spc.uom_code IS NULL THEN
        su.uom_code ELSE spc.uom_code
        END AS uom_code,
        CASE

        WHEN spc.uom_name IS NULL THEN
        su.uom_name ELSE spc.uom_name
        END AS uom_name,
        spc.tax_id,
        CASE

        WHEN spc.tax_rate IS NULL THEN
        st.tax_rate ELSE spc.tax_rate
        END AS tax_rate,
        st.tax_code,
        spc.currency_code,
        sc.currency_name,
        spc.tax_included_unit_price as entered_tax_included_price,
        spc.tax_included_line_amount,
        spc.unit_price,
        spc.line_amount,
        spc.deliver_date,
        spc.category_id,
        spc.remark,
        sic.category_name,
        sic.category_code,
        sph.pc_num,
        sph.pc_name,
        sph.company_id,
        CASE
        WHEN sph.company_num IS NULL THEN
        hc.company_num ELSE sph.company_num
        END AS company_num,
        CASE

        WHEN sph.company_name IS NULL THEN
        hc.company_name ELSE sph.company_name
        END AS company_name,
        iu.real_name AS created_by_name,
        sph.creation_date,
        hou.ou_id,
        hou.ou_name,
        hpo.organization_name AS purchase_org_name,
        hpa.purchase_agent_name AS agent_name,
        hpo.purchase_org_id ,
        sph1.pc_num as main_pc_num,
        hpa.purchase_agent_id AS agent_id,
        sph.pc_kind_code,
        sph.supplier_id,
        sph.pc_type_id,
        CASE
        WHEN sph.supplier_num IS NULL THEN  sec.supplier_num
        ELSE sph.supplier_num END as supplier_num,
        CASE
        WHEN sph.supplier_name IS NULL THEN  sec.supplier_name
        ELSE sph.supplier_name END as supplier_name,
        sph.supplier_company_id,
        sph.supplier_company_num,
        sph.supplier_company_name,
        sph.supplier_tenant_id,
        spc.model,
        spc.specifications,
        spt.order_quantity_flag,
        spc.unit_price_batch,
        spc.chart_version,
        spc.exchange_rate,
        spc.inv_organization_id,
        spt.order_type_id
        FROM
        spcm_pc_subject spc
        LEFT JOIN spcm_pc_header sph ON spc.pc_header_id = sph.pc_header_id
        LEFT JOIN spcm_pc_header sph1 ON sph1.pc_header_id=sph.main_contract_id
        LEFT JOIN smdm_uom su ON su.uom_id = spc.uom_id
        LEFT JOIN smdm_tax st ON st.tax_id = spc.tax_id
        LEFT JOIN smdm_item_category sic ON sic.category_id = spc.category_id
        LEFT JOIN smdm_currency sc ON ( sc.currency_code = spc.currency_code AND sc.tenant_id = spc.tenant_id )
        LEFT JOIN spcm_pc_subject sps ON spc.pc_subject_id = sps.pc_subject_id
        LEFT JOIN hpfm_company hc ON hc.company_id = sph.company_id
        LEFT JOIN sslm_external_supplier sec ON sec.supplier_id = sph.supplier_id
        LEFT JOIN iam_user iu ON iu.id = sph.created_by
        LEFT JOIN hpfm_operation_unit hou ON sph.ou_id = hou.ou_id
        LEFT JOIN hpfm_purchase_agent hpa ON hpa.purchase_agent_id = sph.purchase_agent_id
        LEFT JOIN hpfm_purchase_organization hpo ON hpo.purchase_org_id = sph.purchase_org_id
        INNER JOIN spcm_pc_type spt ON sph.pc_type_id=spt.pc_type_id
        WHERE

        spc.tenant_id = #{tenantId}
        and spc.delete_flag is NULL
        AND (
        ( sph.pc_status_code = 'EFFECTED' AND sph.electric_sign_flag = 1 )
        OR ( sph.pc_status_code = 'CONFIRMED' AND sph.electric_sign_flag = 0 )
        OR sph.pc_status_code = 'ARCHIVE'
        )
        <choose>
            <when test="contractResult.pcKindCode != null and contractResult.pcKindCode != ''">
                AND sph.pc_kind_code = #{contractResult.pcKindCode}
            </when>
            <otherwise>
                AND sph.pc_kind_code = 'NORMAL'
            </otherwise>
        </choose>
        AND ((spt.effective_time_flag=1 AND sph.end_date_active >= #{contractResult.currencyDateToDate}) OR spt.effective_time_flag=0)
        AND ((spt.order_quantity_flag=1 and (spc.quantity - spc.chanage_order_quantity)>0) OR spt.order_quantity_flag=0)
        /*过滤已经进入到收货执行里面的数据*/
        AND  spc.pc_header_id NOT in (SELECT from_pc_header_id from sinv_rcv_trx_order_link srtol where srtol.tenant_id  and  srtol.from_pc_header_id  GROUP BY srtol.from_pc_header_id ,srtol.tenant_id)
        /* AND NOT EXISTS (SELECT 1 from sinv_rcv_trx_order_link srtol where srtol.tenant_id = spc.tenant_id and  srtol.from_pc_header_id = spc.pc_header_id)*/
        /* 查询条件*/
        /* 采购协议编号*/
        <if test="contractResult.pcNum != null and  contractResult.pcNum != ''">
            <bind name="pcNumLike" value="'%'+contractResult.pcNum +'%'"></bind>
            AND sph.pc_num like #{pcNumLike}
        </if>
        /* 采购协议名称*/
        <if test="contractResult.pcName != null and  contractResult.pcName != ''">
            <bind name="pcNameLike" value="'%'+contractResult.pcName +'%'"></bind>
            AND sph.pc_name like #{pcNameLike}
        </if>
        /* 物品名称*/
        <if test="contractResult.itemName != null and  contractResult.itemName != ''">
            <bind name="itemNameLike" value="'%'+contractResult.itemName +'%'"></bind>
            AND spc.item_name like #{itemNameLike}
        </if>
        /* 公司*/
        <if test="contractResult.companyId != null">
            AND sph.company_id = #{contractResult.companyId}
        </if>

<!--        /* 协议性质*/-->
<!--        <if test="contractResult.pcKindCode != null">-->
<!--            AND sph.pc_kind_code = #{contractResult.pcKindCode}-->
<!--        </if>-->
        /* 创建日期从*/
        <if test="contractResult.creationDateFrom != null">
            AND sph.creation_date &gt;= #{contractResult.creationDateFrom}
        </if>
        /* 创建日期至*/
        <if test="contractResult.creationDateTo != null">
            AND sph.creation_date &lt; #{contractResult.creationDateTo}
        </if>
        /* 协议类型*/
        <if test="contractResult.pcTypeId != null">
            AND sph.pc_type_id = #{contractResult.pcTypeId}
        </if>
        /* 创建人*/
        <if test="contractResult.createdByName != null">
            AND iu.real_name = #{contractResult.createdByName}
        </if>
        /* 主协议*/
        <if test="contractResult.pcHeaderId != null">
            AND sph.pc_header_id = #{contractResult.pcHeaderId}
        </if>
        /* 供应商 (协议对象)*/
        <if test="contractResult.supplierCompanyId != null">
            AND sph.supplier_company_id = #{contractResult.supplierCompanyId}
        </if>
        AND (sph.pc_source_code != 'PURCHASE_ORDER' OR sph.pc_source_code is null )
        order by sph.pc_num desc
    </select>

    <select id="selectNoPriceContract" resultType="org.srm.purchasecooperation.order.api.dto.ContractResultDTO">
        SELECT
        sph.pc_header_id,
        sph.pc_num,
        sph.pc_name,
        sph.pc_status_code,
        sph.company_id,
        CASE
        WHEN sph.company_num IS NULL THEN
        hc.company_num ELSE sph.company_num
        END AS company_num,

        CASE
        WHEN sph.company_name IS NULL THEN
        hc.company_name ELSE sph.company_name
        END AS company_name,

        iu.real_name AS CREATED_by_name,
        sph.creation_date,
        hou.ou_id,
        hou.ou_name,
        hpo.organization_name AS purchase_org_name,
        hpa.purchase_agent_name AS agent_name,
        hpo.purchase_org_id,
        sph1.pc_num AS main_pc_num,
        hpa.purchase_agent_id AS agent_id,
        sph.pc_kind_code,
        sph.supplier_id,
        sph.pc_type_id,
        CASE
        WHEN sph.supplier_num IS NULL THEN
        sec.supplier_num ELSE sph.supplier_num
        END AS supplier_num,

        CASE
        WHEN sph.supplier_name IS NULL THEN
        sec.supplier_name ELSE sph.supplier_name
        END AS supplier_name,
        sph.supplier_company_id,
        sph.supplier_company_num,
        sph.supplier_company_name,
        sph.supplier_tenant_id,
        spt.order_quantity_flag,
        spt.order_type_id
        FROM
        spcm_pc_header sph
        LEFT JOIN spcm_pc_header sph1 ON sph1.pc_header_id=sph.main_contract_id
        LEFT JOIN hpfm_company hc ON hc.company_id = sph.company_id
        LEFT JOIN sslm_external_supplier sec ON sec.supplier_id = sph.supplier_id
        LEFT JOIN iam_user iu ON iu.id = sph.created_by
        LEFT JOIN hpfm_operation_unit hou ON sph.ou_id = hou.ou_id
        LEFT JOIN hpfm_purchase_agent hpa ON hpa.purchase_agent_id = sph.purchase_agent_id
        LEFT JOIN hpfm_purchase_organization hpo ON hpo.purchase_org_id = sph.purchase_org_id
        INNER JOIN spcm_pc_type spt ON sph.pc_type_id = spt.pc_type_id
        WHERE
        sph.tenant_id = #{tenantId}
        AND sph.pc_status_code IN ('APPROVED', 'ARCHIVE', 'CONFIRMED')
        AND sph.pc_kind_code = 'ATTACHMENT'
        <if test="contractResult.pcNum != null and  contractResult.pcNum != ''">
            <bind name="pcNumLike" value="'%'+contractResult.pcNum +'%'"></bind>
            AND sph.pc_num like #{pcNumLike}
        </if>
        <if test="contractResult.pcName != null and  contractResult.pcName != ''">
            <bind name="pcNameLike" value="'%'+contractResult.pcName +'%'"></bind>
            AND sph.pc_name like #{pcNameLike}
        </if>
        <if test="contractResult.companyId != null">
            AND sph.company_id = #{contractResult.companyId}
        </if>
        <if test="contractResult.creationDateFrom != null">
            AND sph.creation_date &gt;= #{contractResult.creationDateFrom}
        </if>
        <if test="contractResult.creationDateTo != null">
            AND sph.creation_date &lt; #{contractResult.creationDateTo}
        </if>
        <if test="contractResult.pcTypeId != null">
            AND sph.pc_type_id = #{contractResult.pcTypeId}
        </if>
        <if test="contractResult.createdByName != null">
            AND iu.real_name = #{contractResult.createdByName}
        </if>
        <if test="contractResult.pcHeaderId != null">
            AND sph.pc_header_id = #{contractResult.pcHeaderId}
        </if>
        <if test="contractResult.supplierCompanyId != null">
            AND sph.supplier_company_id = #{contractResult.supplierCompanyId}
        </if>
        order by sph.pc_num desc
    </select>


    <select id="queryWbsName" resultType="java.lang.String">
        select wbs_name from smdm_wbs where wbs_code = #{wbsCode}
    </select>

    <select id="selectAccordingToLineOfReference"
            resultType="org.srm.purchasecooperation.order.domain.vo.PoHeaderAccordingToLineOfReferenceVO"
            parameterType="org.srm.purchasecooperation.order.api.dto.PoHeaderAccordingToLineOfReferenceDTO">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        spl.pr_line_id,
        spl.pr_header_id,
        sph.display_pr_num AS pr_num,
        spl.display_line_num AS line_num,
        spl.quantity,
        hc.company_id,
        hc.company_num as company_code,
        hc.company_name,
        hou.ou_id,
        hou.ou_name,
        hou.ou_code,
        hpo.organization_name AS purchase_org_name,
        spl.supplier_id,
        spl.supplier_code,
        CASE WHEN spl.supplier_name IS NULL THEN spl.supplier_company_name ELSE spl.supplier_name END AS supplier_name,
        spl.supplier_company_id,
        spl.supplier_company_name,
        spl.item_code,
        spl.item_name,
        spl.project_category,/*项目类别*/
        si.brand ,/*品牌*/
        si.common_name,/*通用名*/
        sic.category_name,
        spl.product_id,
        spl.product_num,
        spl.product_name,
        spl.catalog_id,
        spl.catalog_name,
        spl.currency_code,
        spl.uom_id,
        su.uom_code,
        su.uom_name,
        spl.tax_included_unit_price,
        spl.inv_organization_id,
        spl.inventory_id,
        hio.organization_name AS inv_organization_name,
        sph.title,
        sph.receiver_address_id,
        spl.receive_address AS receiver_address,
        sph.requested_by,
        sph.contact_tel_num,
        spl.needed_date,
        sph.pr_source_platform,
        hpo.purchase_org_id,
        hpo.organization_code as purchase_org_code,
        sph.amount,
        (case when spl.purchase_agent_id is not null then spl.purchase_agent_id else sph.purchase_agent_id end) agent_id,
        spl.category_id,
        spl.unit_price,
        spl.tax_included_unit_price entered_tax_included_price,
        spl.line_amount,
        spl.tax_included_line_amount,
        spl.tax_id,
        spl.tax_rate,
        spl.needed_date need_by_date,
        spl.object_version_number,
        sph.object_version_number h_object_version_number,
        spl.supplier_tenant_id,
        spl.urgent_flag,
        spl.urgent_date,
        sph.unit_id,
        sph.unit_name,
        spl.item_id,
        sph.invoice_address,
        sph.pr_type_id,
        spt.pr_type_code,
        spt.pr_type_name,
        ( CASE WHEN spl.item_specs IS NULL or spl.item_specs ='' THEN si.specifications ELSE spl.item_specs END ) AS item_specs,
        ( CASE WHEN spl.item_model IS NULL or spl.item_model ='' THEN si.model ELSE spl.item_model END ) AS item_model,
        spl.attachment_uuid,
        spl.surface_treat_flag,
        spl.remark,/*申请行备注*/
        spl.frame_agreement_num as pc_num,/*协议编码*/
        spl.last_purchase_price,/*最近一次采购价*/
        spl.jd_price,/*划线价*/
        spl.drawing_num,
        spl.created_by,
        spl.tenant_id,
        spl.line_num,
        spl.display_line_num,
        spl.company_id,
        spl.inv_organization_id,
        spl.unit_price,
        spl.needed_date,
        spl.execution_status_code,
        spl.executed_date,
        spl.executed_by,
        spl.execution_bill_id,
        spl.execution_bill_num,
        spl.execution_bill_data,
        spl.assigned_flag,
        spl.assigned_date,
        spl.assigned_by,
        spl.assigned_remark,
        spl.cancelled_flag,
        spl.cancelled_date,
        spl.cancelled_by,
        spl.cancelled_remark,
        spl.closed_flag,
        spl.closed_date,
        spl.closed_by,
        spl.closed_remark,
        spl.suspend_flag,
        spl.suspend_date,
        spl.suspend_remark,
        spl.incorrect_flag,
        spl.incorrect_date,
        spl.incorrect_msg,
        spl.creation_date,
        spl.last_updated_by,
        spl.line_freight,
        spl.tax_without_freight_price,
        spl.execution_header_bill_id,
        spl.execution_header_bill_num,
        spl.requested_by,
        spl.request_date,
        CASE
        WHEN spl.pr_requested_name IS NULL THEN
        sph.pr_requested_name
        ELSE
        spl.pr_requested_name
        END AS pr_requested_name,
        spl.ou_id,
        spl.purchase_org_id,
        spl.purchase_agent_id,
        spl.inventory_id,
        spl.can_vat_flag,
        spl.erp_edit_status,
        spl.item_abc_class,
        spl.project_num,
        spl.project_name,
        spl.crane_num,
        spl.cost_id,
        spl.cost_code,
        spl.account_subject_id,
        spl.account_subject_num,
        spl.wbs,
        spl.wbs_code,
        spl.inner_po_num,
        spl.item_model,
        spl.item_specs,
        spl.drawing_version,
        spl.supplier_item_code,
        spl.supplier_item_name,
        spl.account_assign_type_id,
        spl.item_properties,
        spl.occupied_quantity,
        spl.unit_price_batch,
        spl.assets,
        spl.asset_child_num,
        spl.quality_standard,
        spl.tax_included_budget_unit_price,
        spl.budget_io_flag,
        spl.budget_account_id,
        spl.execution_strategy_code,
        spl.change_order_code,
        spl.change_order_message,
        spl.budget_account_deptno,
        sph.remark header_remark,
        spl.budget_account_price,
        spl.cost_anch_dep_desc,
        spl.cost_anch_dep_id,
        spl.exp_bear_dep,
        spl.exp_bear_dep_id,
        spl.cost_payer_user_id,


        spl.attribute_varchar1,
        spl.attribute_varchar2,
        spl.attribute_varchar3,
        spl.attribute_varchar4,
        spl.attribute_varchar5,
        spl.attribute_varchar6,
        spl.attribute_varchar7,
        spl.attribute_varchar8,
        spl.attribute_varchar9,
        spl.attribute_varchar10,
        spl.attribute_varchar11,
        spl.attribute_varchar12,
        spl.attribute_varchar13,
        spl.attribute_varchar14,
        spl.attribute_varchar15,
        spl.attribute_varchar16,
        spl.attribute_varchar17,
        spl.attribute_varchar18,
        spl.attribute_varchar19,
        spl.attribute_varchar20,
        spl.attribute_varchar21,
        spl.attribute_varchar22,
        spl.attribute_varchar23,
        spl.attribute_varchar24,
        spl.attribute_varchar25,
        spl.attribute_varchar26,
        spl.attribute_varchar27,
        spl.attribute_varchar28,
        spl.attribute_varchar29,
        spl.attribute_varchar30,
        spl.attribute_varchar31,
        spl.attribute_varchar32,
        spl.attribute_varchar33,
        spl.attribute_varchar34,
        spl.attribute_varchar35,
        spl.attribute_varchar36,
        spl.attribute_varchar37,
        spl.attribute_varchar38,
        spl.attribute_varchar39,
        spl.attribute_varchar40,
        spl.attribute_longtext1,
        spl.attribute_longtext2,
        spl.attribute_longtext3,
        spl.attribute_longtext4,
        spl.attribute_longtext5,
        spl.attribute_longtext6,
        spl.attribute_longtext7,
        spl.attribute_longtext8,
        spl.attribute_longtext9,
        spl.attribute_longtext10,
        spl.attribute_bigint1,
        spl.attribute_bigint2,
        spl.attribute_bigint3,
        spl.attribute_bigint4,
        spl.attribute_bigint5,
        spl.attribute_bigint6,
        spl.attribute_bigint7,
        spl.attribute_bigint8,
        spl.attribute_bigint9,
        spl.attribute_bigint10,
        spl.attribute_bigint11,
        spl.attribute_bigint12,
        spl.attribute_bigint13,
        spl.attribute_bigint14,
        spl.attribute_bigint15,
        spl.attribute_bigint16,
        spl.attribute_bigint17,
        spl.attribute_bigint18,
        spl.attribute_bigint19,
        spl.attribute_bigint20,
        spl.attribute_bigint21,
        spl.attribute_bigint22,
        spl.attribute_bigint23,
        spl.attribute_bigint24,
        spl.attribute_bigint25,
        spl.attribute_bigint26,
        spl.attribute_bigint27,
        spl.attribute_bigint28,
        spl.attribute_bigint29,
        spl.attribute_bigint30,
        spl.attribute_tinyint1,
        spl.attribute_tinyint2,
        spl.attribute_tinyint3,
        spl.attribute_tinyint4,
        spl.attribute_tinyint5,
        spl.attribute_tinyint6,
        spl.attribute_tinyint7,
        spl.attribute_tinyint8,
        spl.attribute_tinyint9,
        spl.attribute_tinyint10,
        spl.attribute_tinyint11,
        spl.attribute_tinyint12,
        spl.attribute_tinyint13,
        spl.attribute_tinyint14,
        spl.attribute_tinyint15,
        spl.attribute_tinyint16,
        spl.attribute_tinyint17,
        spl.attribute_tinyint18,
        spl.attribute_tinyint19,
        spl.attribute_tinyint20,
        spl.attribute_decimal1,
        spl.attribute_decimal2,
        spl.attribute_decimal3,
        spl.attribute_decimal4,
        spl.attribute_decimal5,
        spl.attribute_decimal6,
        spl.attribute_decimal7,
        spl.attribute_decimal8,
        spl.attribute_decimal9,
        spl.attribute_decimal10,
        spl.attribute_decimal11,
        spl.attribute_decimal12,
        spl.attribute_decimal13,
        spl.attribute_decimal14,
        spl.attribute_decimal15,
        spl.attribute_decimal16,
        spl.attribute_decimal17,
        spl.attribute_decimal18,
        spl.attribute_decimal19,
        spl.attribute_decimal20,
        spl.attribute_decimal21,
        spl.attribute_decimal22,
        spl.attribute_decimal23,
        spl.attribute_decimal24,
        spl.attribute_decimal25,
        spl.attribute_decimal26,
        spl.attribute_decimal27,
        spl.attribute_decimal28,
        spl.attribute_decimal29,
        spl.attribute_decimal30,
        spl.attribute_datetime1,
        spl.attribute_datetime2,
        spl.attribute_datetime3,
        spl.attribute_datetime4,
        spl.attribute_datetime5,
        spl.attribute_datetime6,
        spl.attribute_datetime7,
        spl.attribute_datetime8,
        spl.attribute_datetime9,
        spl.attribute_datetime10,
        spl.attribute_datetime11,
        spl.attribute_datetime12,
        spl.attribute_datetime13,
        spl.attribute_datetime14,
        spl.attribute_datetime15,
        spl.attribute_datetime16,
        spl.attribute_datetime17,
        spl.attribute_datetime18,
        spl.attribute_datetime19,
        spl.attribute_datetime20,
        spl.attribute_date1,
        spl.attribute_date2,
        spl.attribute_date3,
        spl.attribute_date4,
        spl.attribute_date5,
        spl.attribute_date6,
        spl.attribute_date7,
        spl.attribute_date8,
        spl.attribute_date9,
        spl.attribute_date10,
        spl.attribute_date11,
        spl.attribute_date12,
        spl.attribute_date13,
        spl.attribute_date14,
        spl.attribute_date15,
        spl.attribute_date16,
        spl.attribute_date17,
        spl.attribute_date18,
        spl.attribute_date19,
        spl.attribute_date20,
        spl.drawing_version,
        case
        when spl.occupied_quantity is null then 0
        else spl.occupied_quantity
        end as occupied_quantity,
        (spl.quantity - (
        case
        when spl.occupied_quantity is null then 0
        else spl.occupied_quantity
        end
        )) rest_po_quantity,
        (spl.quantity - (
        case
        when spl.occupied_quantity is null then 0
        else spl.occupied_quantity
        end
        )) this_order_quantity,
        ot.order_type_id,
        ot.order_type_code,
        ott.order_type_name,
        spl.freight_line_flag,
        spl.account_assign_type_id,
        saat.account_assign_type_code,
        spl.cost_id,
        spl.cost_code,
        spl.account_subject_id,
        spl.account_subject_num,
        spl.wbs_code,
        spl.wbs,
        spl.unit_price,
        rp.reference_price_display_flag,
        spl.receive_contact_name,
        spl.receive_tel_num,
        spl.exchange_rate,
        spl.local_currency_tax_unit,
        spl.local_currency_no_tax_unit,
        spl.local_currency_tax_sum,
        spl.local_currency_no_tax_sum
        FROM
        sprm_pr_header sph
        JOIN sprm_pr_line spl ON spl.pr_header_id = sph.pr_header_id
        <if test="assignFlag != null and assignFlag == 1 and userId != null">
            LEFT JOIN sprm_pr_line_assign spla on spla.tenant_id = spl.tenant_id and spla.pr_line_id = spl.pr_line_id
        </if>
        LEFT JOIN sprm_pr_type spt ON spt.pr_type_id = sph.pr_type_id
        LEFT JOIN spcm_pc_header spch ON spl.pc_header_id = spch.pc_header_id
        JOIN hpfm_company hc ON ( CASE WHEN sph.company_id IS NULL THEN spl.company_id ELSE sph.company_id END ) = hc.company_id
        JOIN hpfm_operation_unit hou ON ( CASE WHEN sph.ou_id IS NULL THEN spl.ou_id ELSE sph.ou_id END ) = hou.ou_id
        JOIN iam_user iu ON iu.id = spl.created_by
        LEFT JOIN hpfm_inv_organization hio ON spl.inv_organization_id = hio.organization_id
        LEFT JOIN hpfm_purchase_organization hpo ON ( CASE WHEN sph.purchase_org_id IS NULL THEN spl.purchase_org_id ELSE sph.purchase_org_id END ) = hpo.purchase_org_id
        LEFT JOIN smdm_uom su ON spl.uom_id = su.uom_id
        LEFT JOIN smdm_item_category sic ON spl.category_id = sic.category_id
        LEFT JOIN smdm_item si ON si.item_id = spl.item_id
        LEFT JOIN sodr_order_type ot on spt.order_type_id=ot.order_type_id
        LEFT JOIN sodr_order_type_tl ott on ott.order_type_id = ot.order_type_id AND ott.lang = #{lang}
        LEFT JOIN sprm_account_assign_type saat ON saat.account_assign_type_id = spl.account_assign_type_id
        LEFT JOIN (SELECT
        spl.item_id,
        spl.company_id,
        spl.ou_id,
        1 AS reference_price_display_flag
        FROM
        ssrc_price_library spl
        LEFT JOIN smdm_uom hu ON spl.uom_id = hu.uom_id
        LEFT JOIN smdm_item_category sic ON spl.item_category_id = sic.category_id
        LEFT JOIN smdm_tax st ON spl.tax_id=st.tax_id
        WHERE
        spl.tenant_id = #{tenantId,jdbcType=DECIMAL}
        AND spl.item_id IS NOT NULL
        AND spl.company_id IS NOT NULL
        AND spl.ou_id IS NOT NULL
        AND spl.price_library_status='RELEASE'
        AND ( spl.quotation_expiry_date_from &lt;= #{currentDate} OR spl.quotation_expiry_date_from IS NULL )
        AND ( spl.quotation_expiry_date_to &gt;= #{currentDate} OR spl.quotation_expiry_date_to IS NULL )
        GROUP BY spl.item_id, spl.company_id, spl.ou_id) rp
        ON rp.item_id = spl.item_id AND rp.company_id = hc.company_id AND rp.ou_id = hou.ou_id
        WHERE
        spl.tenant_id = #{tenantId,jdbcType=DECIMAL}
        AND sph.pr_status_code = 'APPROVED'
        AND sph.close_status_code != 'CLOSED'
        AND sph.cancel_status_code != 'CANCELLED'
        AND sph.pr_source_platform != 'E-COMMERCE'
        AND spl.cancelled_flag = 0
        AND spl.closed_flag = 0
        <if test="erpControlFlag != null and erpControlFlag == 1">
            AND (spl.erp_edit_status = 'N' OR sph.pr_source_platform != 'ERP')
        </if>
        <if test="prHeaderId != null">
            AND sph.pr_header_id = #{prHeaderId}
        </if>
        <!--        AND (spl.execution_status_code IS NULL OR spl.execution_status_code IN ('PO','UNASSIGNED','ASSIGNED')) -->
        AND ( spl.quantity > spl.occupied_quantity OR spl.occupied_quantity IS NULL )
        <if test="prNum != null">
            <bind name="prNumLike" value="'%'+ prNum +'%'"/>
            AND sph.display_pr_num LIKE #{ prNumLike }
        </if>
        <if test="assignFlag != null and assignFlag == 1 and userId != null">
            AND  (spla.user_id = #{ userId }
            <if test = "executedByName != null">
                OR spla.user_id = #{ executedByName }
            </if>
            )
        </if>
        <if test="executionStrategyFlag != null and executionStrategyFlag == 1 ">
            AND spl.execution_strategy_code = 'ORDER'
        </if>
        <if test="prHeaderId != null">
            AND spl.pr_header_id = #{prHeaderId}
        </if>
        <if test="lineNum != null">
            <bind name="lineNumLike" value="'%'+ lineNum +'%'"/>
            AND spl.display_line_num LIKE #{ lineNumLike }
        </if>
        <if test="requestDateFrom != null">
            AND sph.request_date &gt;= #{ requestDateFrom }
        </if>
        <if test="requestDateTo != null">
            AND sph.request_date &lt;= #{ requestDateTo }
        </if>
        <if test="purchaseOrgId != null">
            AND sph.purchase_org_id = #{ purchaseOrgId }
        </if>
        <if test="ouId != null">
            AND sph.ou_id = #{ ouId }
        </if>
        <if test="companyId != null">
            AND spl.company_id = #{ companyId }
        </if>
        <if test="createdBy != null">
            AND spl.created_by like #{createdBy}
        </if>
        <if test="purchaseAgentId != null">
            AND (sph.purchase_agent_id = #{ purchaseAgentId } or spl.purchase_agent_id = #{ purchaseAgentId })
        </if>
        <if test="prSourcePlatform != null">
            AND sph.pr_source_platform = #{ prSourcePlatform }
        </if>
        <!--         <if test="supplierTenantId != null">-->
        <!--             AND spl.supplier_tenant_id = #{ supplierTenantId }-->
        <!--         </if>-->
        <if test="supplierCompanyId != null">
            AND (
            spl.supplier_company_id = #{ supplierCompanyId }
            OR EXISTS (
            SELECT 1
            FROM sprm_pr_line_supplier spls
            WHERE spls.tenant_id = spl.tenant_id
            AND spls.pr_header_id = spl.pr_header_id
            AND spls.pr_line_id = spl.pr_line_id
            AND spls.supplier_company_id = #{ supplierCompanyId })
            )
        </if>
        AND spl.suspend_flag = 0
        <if test="supplierId != null">
            AND (
            spl.supplier_id = #{ supplierId }
            OR EXISTS (
            SELECT 1
            FROM sprm_pr_line_supplier spls
            WHERE spls.tenant_id = spl.tenant_id
            AND spls.pr_header_id = spl.pr_header_id
            AND spls.pr_line_id = spl.pr_line_id
            AND spls.supplier_id = #{ supplierId })
            )
        </if>
        <if test="productNum != null">
            AND spl.product_num = #{ productNum }
        </if>
        <if test="itemCode != null">
            AND spl.item_code = #{ itemCode }
        </if>
        <if test="itemCodes !=null and itemCodes.size()>0">
            AND spl.item_code in
            <foreach collection="itemCodes" item="itemCode" open="(" separator="," close=")">
                #{itemCode}
            </foreach>
        </if>
        <if test="categoryId != null">
            AND spl.category_id = #{categoryId}
        </if>
        <if test="neededDateFrom != null">
            AND spl.needed_date &gt;= #{ neededDateFrom }
        </if>
        <if test="neededDateTo != null">
            AND spl.needed_date &lt;= #{ neededDateTo }
        </if>
        <if test="receiverAddress != null">
            <bind name="receiverAddressLike" value="'%'+ receiverAddress +'%'"/>
            AND sph.receiver_address LIKE #{ receiverAddressLike }
        </if>
        <if test="unitId != null">
            AND sph.unit_id = #{ unitId }
        </if>
        <if test="urgentFlag != null">
            AND spl.urgent_flag = #{urgentFlag}
        </if>
        <if test="prTypeId != null">
            AND sph.pr_type_id= #{prTypeId}
        </if>
        <if test="prTypeCode != null">
            AND spt.pr_type_code= #{prTypeCode}
        </if>
        <if test="prTypeName != null">
            <bind name="prTypeNameLike" value="'%'+ prTypeName +'%'"/>
            AND spt.pr_type_name like #{prTypeNameLike}
        </if>
        <if test="reqUserName != null and reqUserName != ''">
            <bind name="reqUserNameLike" value="'%'+ reqUserName +'%'"/>
            AND sph.pr_requested_name like #{reqUserNameLike}
        </if>
        <if test="itemName != null and itemName != ''">
            <bind name="itemNameLike" value="'%'+ itemName +'%'"/>
            AND spl.item_name like #{itemNameLike}
        </if>
        <if test="prRequestedById != null">
            AND spl.requested_by = #{prRequestedById}
        </if>
        <if test="prRequestedName != null and prRequestedName != ''">
            <bind name="prRequestedNameLike" value="'%'+ prRequestedName +'%'"/>
            AND spl.pr_requested_name like #{prRequestedNameLike}
        </if>
        <if test="attributeVarchar1 != null and attributeVarchar1 != ''">
            <bind name="attributeVarchar1Like" value="'%'+ attributeVarchar1 +'%'"/>
            AND spl.attribute_varchar1 like #{attributeVarchar1Like}
        </if>
        <if test="executorName != null and executorName != ''">
            <bind name="executorNameLike" value="'%'+ executorName +'%'"/>
            AND EXISTS (
            SELECT
            1
            FROM
            sprm_pr_line_assign spla
            JOIN iam_user iu ON spla.user_id = iu.id
            WHERE
            spl.pr_line_id = spla.pr_line_id
            AND iu.real_name LIKE #{executorNameLike}
            )
        </if>

        <if test="title !=null">
            <bind name="titleLike" value="'%'+title+'%'"/>
            AND sph.title like #{titleLike}
        </if>
        <if test="attributeVarchar40=='rcwl'">
            and spl.attribute_bigint1 is null
        </if>

        ORDER BY sph.display_pr_num DESC ,spl.line_num ASC
    </select>
</mapper>