<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.purchasecooperation.cux.order.infra.mapper.RcwlMyCostMapper">

    <select id="selectCostId" resultType="java.lang.Long">
        select t.cost_id from smdm_cost_center t where t.cost_code = #{costCode} and tenant_id = #{tenantId}
    </select>
    <select id="selectWbs" resultType="java.lang.String">
        select t.wbs_name from smdm_wbs t where t.wbs_code = #{wbsCode} and tenant_id = #{tenantId}
    </select>
</mapper>