<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.srm.purchasecooperation.cux.pr.infra.mapper.RcwlPrLineHisMapper">

    <sql id="BaseSql">
        srplh
        .
        pr_line_id
        ,
                    srplh.pr_header_id, 
                    srplh.tenant_id, 
                    srplh.line_num, 
                    srplh.display_line_num, 
                    srplh.company_id, 
                    srplh.ou_id, 
                    srplh.purchase_org_id, 
                    srplh.purchase_agent_id, 
                    srplh.request_date, 
                    srplh.requested_by, 
                    srplh.pr_requested_name, 
                    srplh.inv_organization_id, 
                    srplh.inventory_id, 
                    srplh.item_id, 
                    srplh.item_code, 
                    srplh.item_name, 
                    srplh.item_abc_class, 
                    srplh.drawing_num, 
                    srplh.project_num, 
                    srplh.project_name, 
                    srplh.crane_num, 
                    srplh.product_id, 
                    srplh.product_num, 
                    srplh.product_name, 
                    srplh.catalog_id, 
                    srplh.catalog_name, 
                    srplh.category_id, 
                    srplh.uom_id, 
                    srplh.quantity, 
                    srplh.tax_id, 
                    srplh.tax_rate, 
                    srplh.currency_code, 
                    srplh.unit_price, 
                    srplh.tax_included_unit_price, 
                    srplh.line_amount, 
                    srplh.tax_included_line_amount, 
                    srplh.needed_date, 
                    srplh.supplier_tenant_id, 
                    srplh.supplier_id, 
                    srplh.supplier_code, 
                    srplh.supplier_name, 
                    srplh.supplier_company_id, 
                    srplh.supplier_company_name, 
                    srplh.execution_status_code, 
                    srplh.executed_date, 
                    srplh.executed_by, 
                    srplh.execution_bill_id, 
                    srplh.execution_bill_num, 
                    srplh.execution_bill_data, 
                    srplh.assigned_flag, 
                    srplh.assigned_date, 
                    srplh.assigned_by, 
                    srplh.assigned_remark, 
                    srplh.cancelled_flag, 
                    srplh.cancelled_date, 
                    srplh.cancelled_by, 
                    srplh.cancelled_remark, 
                    srplh.closed_flag, 
                    srplh.closed_date, 
                    srplh.closed_by, 
                    srplh.closed_remark, 
                    srplh.suspend_flag, 
                    srplh.suspend_date, 
                    srplh.suspend_remark, 
                    srplh.incorrect_flag, 
                    srplh.incorrect_date, 
                    srplh.incorrect_msg, 
                    srplh.can_vat_flag, 
                    srplh.erp_edit_status, 
                    srplh.attachment_uuid, 
                    srplh.remark, 
                    srplh.line_freight, 
                    srplh.execution_header_bill_id, 
                    srplh.execution_header_bill_num, 
                    srplh.urgent_flag, 
                    srplh.urgent_date, 
                    srplh.cost_id, 
                    srplh.cost_code, 
                    srplh.account_subject_id, 
                    srplh.account_subject_num, 
                    srplh.WBS, 
                    srplh.occupied_quantity, 
                    srplh.last_purchase_price, 
                    srplh.pc_header_id, 
                    srplh.item_model, 
                    srplh.item_specs, 
                    srplh.item_properties, 
                    srplh.agent_id, 
                    srplh.keeper_user_id, 
                    srplh.accepter_user_id, 
                    srplh.cost_payer_user_id, 
                    srplh.address, 
                    srplh.inner_po_num, 
                    srplh.surface_treat_flag, 
                    srplh.batch_no, 
                    srplh.drawing_version, 
                    srplh.supplier_item_code, 
                    srplh.po_line_id, 
                    srplh.jd_price, 
                    srplh.req_type_code, 
                    srplh.purchase_org_group_name, 
                    srplh.company_org_id, 
                    srplh.cost_anch_dep_id, 
                    srplh.exp_bear_dep_id, 
                    srplh.company_org_name, 
                    srplh.cost_anch_dep_desc, 
                    srplh.exp_bear_dep, 
                    srplh.source_platform_code, 
                    srplh.accepter_user_name, 
                    srplh.agent_name, 
                    srplh.keeper_user_name, 
                    srplh.tax_code, 
                    srplh.overseas_procurement, 
                    srplh.frame_agreement_num, 
                    srplh.wbs_code, 
                    srplh.supplier_item_name, 
                    srplh.tax_without_freight_price, 
                    srplh.benchmark_price, 
                    srplh.change_percent, 
                    srplh.purchase_line_type_id, 
                    srplh.unit_price_batch, 
                    srplh.project_category, 
                    srplh.assets, 
                    srplh.asset_child_num, 
                    srplh.account_assign_type_id, 
                    srplh.freight_line_flag, 
                    srplh.budget_io_flag, 
                    srplh.tax_included_budget_unit_price, 
                    srplh.quality_standard, 
                    srplh.attribute_varchar1, 
                    srplh.attribute_varchar2, 
                    srplh.attribute_varchar3, 
                    srplh.attribute_varchar4, 
                    srplh.attribute_varchar5, 
                    srplh.attribute_varchar6, 
                    srplh.attribute_varchar7, 
                    srplh.attribute_varchar8, 
                    srplh.attribute_varchar9, 
                    srplh.attribute_varchar10, 
                    srplh.attribute_varchar11, 
                    srplh.attribute_varchar12, 
                    srplh.attribute_varchar13, 
                    srplh.attribute_varchar14, 
                    srplh.attribute_varchar15, 
                    srplh.attribute_varchar16, 
                    srplh.attribute_varchar17, 
                    srplh.attribute_varchar18, 
                    srplh.attribute_varchar19, 
                    srplh.attribute_varchar20, 
                    srplh.attribute_varchar21, 
                    srplh.attribute_varchar22, 
                    srplh.attribute_varchar23, 
                    srplh.attribute_varchar24, 
                    srplh.attribute_varchar25, 
                    srplh.attribute_varchar26, 
                    srplh.attribute_varchar27, 
                    srplh.attribute_varchar28, 
                    srplh.attribute_varchar29, 
                    srplh.attribute_varchar30, 
                    srplh.attribute_varchar31, 
                    srplh.attribute_varchar32, 
                    srplh.attribute_varchar33, 
                    srplh.attribute_varchar34, 
                    srplh.attribute_varchar35, 
                    srplh.attribute_varchar36, 
                    srplh.attribute_varchar37, 
                    srplh.attribute_varchar38, 
                    srplh.attribute_varchar39, 
                    srplh.attribute_varchar40, 
                    srplh.attribute_longtext1, 
                    srplh.attribute_longtext2, 
                    srplh.attribute_longtext3, 
                    srplh.attribute_longtext4, 
                    srplh.attribute_longtext5, 
                    srplh.attribute_longtext6, 
                    srplh.attribute_longtext7, 
                    srplh.attribute_longtext8, 
                    srplh.attribute_longtext9, 
                    srplh.attribute_longtext10, 
                    srplh.attribute_bigint1, 
                    srplh.attribute_bigint2, 
                    srplh.attribute_bigint3, 
                    srplh.attribute_bigint4, 
                    srplh.attribute_bigint5, 
                    srplh.attribute_bigint6, 
                    srplh.attribute_bigint7, 
                    srplh.attribute_bigint8, 
                    srplh.attribute_bigint9, 
                    srplh.attribute_bigint10, 
                    srplh.attribute_bigint11, 
                    srplh.attribute_bigint12, 
                    srplh.attribute_bigint13, 
                    srplh.attribute_bigint14, 
                    srplh.attribute_bigint15, 
                    srplh.attribute_bigint16, 
                    srplh.attribute_bigint17, 
                    srplh.attribute_bigint18, 
                    srplh.attribute_bigint19, 
                    srplh.attribute_bigint20, 
                    srplh.attribute_bigint21, 
                    srplh.attribute_bigint22, 
                    srplh.attribute_bigint23, 
                    srplh.attribute_bigint24, 
                    srplh.attribute_bigint25, 
                    srplh.attribute_bigint26, 
                    srplh.attribute_bigint27, 
                    srplh.attribute_bigint28, 
                    srplh.attribute_bigint29, 
                    srplh.attribute_bigint30, 
                    srplh.attribute_tinyint1, 
                    srplh.attribute_tinyint2, 
                    srplh.attribute_tinyint3, 
                    srplh.attribute_tinyint4, 
                    srplh.attribute_tinyint5, 
                    srplh.attribute_tinyint6, 
                    srplh.attribute_tinyint7, 
                    srplh.attribute_tinyint8, 
                    srplh.attribute_tinyint9, 
                    srplh.attribute_tinyint10, 
                    srplh.attribute_tinyint11, 
                    srplh.attribute_tinyint12, 
                    srplh.attribute_tinyint13, 
                    srplh.attribute_tinyint14, 
                    srplh.attribute_tinyint15, 
                    srplh.attribute_tinyint16, 
                    srplh.attribute_tinyint17, 
                    srplh.attribute_tinyint18, 
                    srplh.attribute_tinyint19, 
                    srplh.attribute_tinyint20, 
                    srplh.attribute_decimal1, 
                    srplh.attribute_decimal2, 
                    srplh.attribute_decimal3, 
                    srplh.attribute_decimal4, 
                    srplh.attribute_decimal5, 
                    srplh.attribute_decimal6, 
                    srplh.attribute_decimal7, 
                    srplh.attribute_decimal8, 
                    srplh.attribute_decimal9, 
                    srplh.attribute_decimal10, 
                    srplh.attribute_decimal11, 
                    srplh.attribute_decimal12, 
                    srplh.attribute_decimal13, 
                    srplh.attribute_decimal14, 
                    srplh.attribute_decimal15, 
                    srplh.attribute_decimal16, 
                    srplh.attribute_decimal17, 
                    srplh.attribute_decimal18, 
                    srplh.attribute_decimal19, 
                    srplh.attribute_decimal20, 
                    srplh.attribute_decimal21, 
                    srplh.attribute_decimal22, 
                    srplh.attribute_decimal23, 
                    srplh.attribute_decimal24, 
                    srplh.attribute_decimal25, 
                    srplh.attribute_decimal26, 
                    srplh.attribute_decimal27, 
                    srplh.attribute_decimal28, 
                    srplh.attribute_decimal29, 
                    srplh.attribute_decimal30, 
                    srplh.attribute_datetime1, 
                    srplh.attribute_datetime2, 
                    srplh.attribute_datetime3, 
                    srplh.attribute_datetime4, 
                    srplh.attribute_datetime5, 
                    srplh.attribute_datetime6, 
                    srplh.attribute_datetime7, 
                    srplh.attribute_datetime8, 
                    srplh.attribute_datetime9, 
                    srplh.attribute_datetime10, 
                    srplh.attribute_datetime11, 
                    srplh.attribute_datetime12, 
                    srplh.attribute_datetime13, 
                    srplh.attribute_datetime14, 
                    srplh.attribute_datetime15, 
                    srplh.attribute_datetime16, 
                    srplh.attribute_datetime17, 
                    srplh.attribute_datetime18, 
                    srplh.attribute_datetime19, 
                    srplh.attribute_datetime20, 
                    srplh.attribute_date1, 
                    srplh.attribute_date2, 
                    srplh.attribute_date3, 
                    srplh.attribute_date4, 
                    srplh.attribute_date5, 
                    srplh.attribute_date6, 
                    srplh.attribute_date7, 
                    srplh.attribute_date8, 
                    srplh.attribute_date9, 
                    srplh.attribute_date10, 
                    srplh.attribute_date11, 
                    srplh.attribute_date12, 
                    srplh.attribute_date13, 
                    srplh.attribute_date14, 
                    srplh.attribute_date15, 
                    srplh.attribute_date16, 
                    srplh.attribute_date17, 
                    srplh.attribute_date18, 
                    srplh.attribute_date19, 
                    srplh.attribute_date20, 
                    srplh.execution_strategy_code, 
                    srplh.business_card_flag, 
                    srplh.budget_account_id, 
                    srplh.receiver_information, 
                    srplh.receive_address, 
                    srplh.receive_contact_name, 
                    srplh.receive_tel_num, 
                    srplh.cart_user_id, 
                    srplh.cart_user_type, 
                    srplh.change_order_code, 
                    srplh.change_order_message, 
                    srplh.budget_account_deptno, 
                    srplh.budget_account_price, 
                    srplh.document_id, 
                    srplh.exchange_rate, 
                    srplh.local_currency_tax_unit, 
                    srplh.local_currency_no_tax_unit, 
                    srplh.local_currency_tax_sum, 
                    srplh.local_currency_no_tax_sum, 
                    srplh.exchange_rate_date, 
                    srplh.budget_account_num, 
                    srplh.is_push_assets_flag, 
                    srplh.version
    </sql>

    <select id="selectList" resultType="org.srm.purchasecooperation.cux.pr.domain.entity.RcwlPrLineHis">
        select
        <include refid="BaseSql"/>
        from scux_rcwl_pr_line_his srplh
        <where>
            <if test="prLineId !=null">
                and srplh.prLineId = #{prLineId,jdbcType = INTEGER}
            </if>
        </where>
    </select>
</mapper>
