<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.purchasecooperation.cux.pr.infra.mapper.RcwlCheckPoLineMapper">
    <select id="checkPoItem" resultType="org.srm.purchasecooperation.cux.order.domain.vo.RCWLItemInfoVO">
        select * from smdm_item si where right(si.item_code, 12) = #{productNum} and si.tenant_id = #{tenantId}
    </select>
</mapper>