<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.purchasecooperation.cux.pr.infra.mapper.RcwlCompanyMapper">

    <select id="selectCompanyRcwlUnitName" resultType="java.lang.String">
        SELECT h.attribute_varchar11
        FROM hpfm_company hc,
             spfm_company_basic h
        WHERE hc.company_id = #{companyId}
          AND hc.source_key = h.company_id
          AND h.tenant_id = #{tenantId}
          AND h.version_number = (
            SELECT max(h.version_number)
            FROM spfm_company_basic h
            WHERE h.company_id = hc.source_key
        )
    </select>
</mapper>