<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.purchasecooperation.cux.act.infra.mapper.ActFilesMapper">
    <select id="actListFilseQuery"
            parameterType="org.srm.purchasecooperation.cux.act.api.dto.ActListFilesDto"
            resultType="org.srm.purchasecooperation.cux.act.api.dto.ActListFilesDto">
           select (@i := @i + 1) file_number,
       hf.file_name,
       hf.file_size,
       hf.file_url url_mx
from hfle_file hf,
     (SELECT @i := 0) as i
where hf.tenant_id = #{organizationId}
  and exists((select 1
              from spuc_accept_list_header h
              where h.attachment_uuid = hf.attachment_uuid
              and h.tenant_id = #{organizationId}
                and h.accept_list_header_id = #{acceptListHeaderId})
             union all
             (select 1
              from spuc_accept_list_line l
              where l.attachment_uuid = hf.attachment_uuid
                and l.accept_list_header_id = #{acceptListHeaderId}));
    </select>

</mapper>