<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.purchasecooperation.cux.transaction.infra.mapper.RcwlRcvTrxHeaderMapper">
    <select id="rcwlQueryCanRcvTrxDataByPo" resultType="org.srm.purchasecooperation.cux.transaction.domain.vo.RcwlReceiveRcvTrxDataVO">
        <bind name="userDetails" value="@io.choerodon.core.oauth.DetailsHelper@getUserDetails()"/>
        select temp4.*,
        hi.inventory_code,
        hi.inventory_name,
        CASE

        WHEN temp4.location_id IS NULL THEN
        (
        CASE
        ( SELECT count(*) FROM hpfm_location hl WHERE hl.organization_id = temp4.inv_organization_id AND hl.inventory_id = temp4.inventory_id )
        WHEN 1 THEN
        ( SELECT hl.location_id FROM hpfm_location hl WHERE hl.organization_id = temp4.inv_organization_id AND hl.inventory_id = temp4.inventory_id ) ELSE NULL
        END
        ) ELSE temp4.location_id
        END location_id_copy,
        CASE

        WHEN temp4.location_id IS NULL THEN
        (
        CASE
        ( SELECT count(*) FROM hpfm_location hl WHERE hl.organization_id = temp4.inv_organization_id AND hl.inventory_id = temp4.inventory_id )
        WHEN 1 THEN
        ( SELECT hl.location_code FROM hpfm_location hl WHERE hl.organization_id = temp4.inv_organization_id AND hl.inventory_id = temp4.inventory_id ) ELSE NULL
        END
        ) ELSE ( SELECT hl.location_code FROM hpfm_location hl WHERE hl.location_id = temp4.location_id )
        END location_code,
        CASE

        WHEN temp4.location_id IS NULL THEN
        (
        CASE
        ( SELECT count(*) FROM hpfm_location hl WHERE hl.organization_id = temp4.inv_organization_id AND hl.inventory_id = temp4.inventory_id )
        WHEN 1 THEN
        ( SELECT hl.location_name FROM hpfm_location hl WHERE hl.organization_id = temp4.inv_organization_id AND hl.inventory_id = temp4.inventory_id ) ELSE NULL
        END
        ) ELSE ( SELECT hl.location_name FROM hpfm_location hl WHERE hl.location_id = temp4.location_id )
        END location_name
        from
        (
        select
        spll.po_line_location_id,
        spll.quantity as shipped_quantity,
        sph.receive_order_type,
        sotl.order_type_name as po_type_code_meaning,
        sot.order_type_code as po_type_code,
        spl.item_id,
        spl.item_code,
        spl.item_name,
        spll.inv_organization_id,
        hio.organization_name inv_organization_name,
        hio.organization_code inv_organization_code,
        spll.po_header_id from_po_header_id,
        spll.po_line_id from_po_line_id,
        spl.currency_code,
        spl.unit_price/spl.unit_price_batch net_price,
        spl.entered_tax_included_price tax_included_price,
        spl.unit_price/spl.unit_price_batch po_unit_price,
        spl.line_amount net_amount,
        spl.tax_included_line_amount tax_included_amount,
        spl.tax_id,
        spl.unit_price entered_trx_price,
        spl.line_amount entered_trx_amount,
        spl.base_currency_code entered_currency_code,
        spl.rate_type,
        spl.rate_date exchange_rate_date,
        spl.rate exchange_rate,
        spl.uom_id,
        su.uom_code,
        su.uom_precision,
        sul.uom_name,
        (
        spll.quantity - spll.occupied_quantity
        ) can_receive_quantity,
        sph.company_id,
        sph.company_name,
        sph.ou_id,
        sph.purchase_org_id pur_organization_id,
        sph.supplier_id,
        (CASE
        WHEN sph.supplier_id IS NOT NULL
        AND sph.supplier_code IS NOT NULL THEN
        sph.supplier_code
        WHEN sph.supplier_id IS NOT NULL
        AND sph.supplier_code IS NULL THEN
        es.supplier_num ELSE hc.company_num
        END
        ) AS supplier_num,
        <!--             sph.supplier_name,-->
        sph.supplier_site_id,
        sph.supplier_company_id,
        CASE WHEN sph.supplier_company_name IS  NULL OR sph.supplier_company_name = '' THEN sph.supplier_name ELSE sph.supplier_company_name END AS supplier_company_name,
        (CASE
        WHEN sph.supplier_id IS NOT NULL AND sph.supplier_name IS NOT NULL THEN sph.supplier_name
        WHEN sph.supplier_id IS NOT NULL AND sph.supplier_name IS NULL THEN es.supplier_name
        ELSE hc.company_name END) AS supplier_name,
        <!--hc.company_name AS supplier_name,-->
        sph.supplier_ou_id,
        sph.terms_id,
        st.tax_rate,
        sph.ship_to_location_address,
        spl.brand,
        spl.specifications,
        spl.model,
        spl.line_num,
        spl.remark,
        sph.agent_id AS po_agent_id,
        hpa.purchase_agent_code agent_code,
        hpa.purchase_agent_name agent_name,
        sph.external_system_code,
        spl.display_line_num,
        sph.display_po_num,
        spl.product_num,
        spl.product_name,
        spl.catalog_name,
        sph.display_release_num,
        spll.display_line_location_num,
        spl.version_num,
        sprl.pr_line_id,
        sab.deliver_time,
        sph.supplier_tenant_id,
        CASE

        WHEN spll.inv_inventory_id IS NULL THEN
        (
        CASE
        ( SELECT count(*) FROM hpfm_inventory hi WHERE hi.organization_id = hio.organization_id )
        WHEN 1 THEN
        ( SELECT hi.inventory_id FROM hpfm_inventory hi WHERE hi.organization_id = hio.organization_id ) ELSE NULL
        END
        ) ELSE spll.inv_inventory_id
        END inventory_id,
        spll.inv_location_id AS location_id,
        sc.financial_precision
        from
        sodr_po_line_location spll
        join sodr_po_line spl on spl.po_line_id = spll.po_line_id
        join sodr_po_header sph on sph.po_header_id = spll.po_header_id and spll.strategy_header_id is null/*过滤已经走新事务的订单*/
        left join sodr_order_type sot on sot.order_type_id = sph.po_type_id
        LEFT JOIN sodr_order_type_tl sotl on sot.order_type_id=sotl.order_type_id and sotl.lang=#{userDetails.language}
        LEFT JOIN sfin_auto_bill sab ON sab.po_line_location_id = spll.po_line_location_id
        left join smdm_tax st on st.tax_id = spl.tax_id
        left join sslm_external_supplier es ON sph.supplier_id = es.supplier_id
        left join hpfm_inventory hi on spll.inv_inventory_id = hi.inventory_id
        left join hpfm_location hl on spll.inv_location_id = hl.location_id
        left join smdm_uom su on spl.uom_id = su.uom_id
        LEFT JOIN smdm_uom_tl sul on su.uom_id=sul.uom_id and sul.lang=#{userDetails.language}
        left join hpfm_inv_organization hio on spll.inv_organization_id = hio.organization_id
        left join hpfm_purchase_agent hpa on sph.agent_id = hpa.purchase_agent_id
        LEFT JOIN spfm_partner sp ON sp.partner_company_id=sph.supplier_company_id AND sp.company_id=sph.company_id
        left join sslm_supplier_basic hc on hc.supplier_basic_id = sp.supplier_basic_id
        left join sprm_pr_line sprl on sprl.pr_line_id = spl.pr_line_id
        left join smdm_item hil on hil.item_id = spl.item_id
        LEFT JOIN smdm_currency sc ON sc.tenant_id = #{tenantId} and sc.currency_code = spl.currency_code
        where
        1 = 1
        and sph.receive_order_type in ('ORDER','NONE')
        and (sph.create_sync_status != 'FAIL' OR sph.create_sync_status is null)
        and (sph.delivery_sync_status != 'FAIL' OR sph.delivery_sync_status is null)
        and ((sph.confirmed_flag = 1 and sph.status_code = 'PUBLISHED' and sph.released_flag = 1) or spll.confirm_flag = 1)
        and sph.closed_flag = 0
        and sph.cancelled_flag = 0
        and sph.changing_flag != 1
        and spll.closed_flag = 0
        and spll.cancelled_flag = 0
        and sph.publish_cancel_flag = 0
        and spll.quantity > spll.occupied_quantity
        and sph.tenant_id = #{tenantId}
        and sph.tenant_id = spl.tenant_id
        <if test="displayPoNum != null and displayPoNum != ''">
            <bind name="displayPoNumLike" value="'%' + displayPoNum + '%'"/>
            and (sph.display_po_num like #{displayPoNumLike} OR sph.po_num like #{displayPoNumLike})
        </if>

        <if test="supplierId != null and supplierCompanyId == null">
            AND sph.supplier_id = #{supplierId}
        </if>

        <if test="supplierId == null and supplierCompanyId != null">
            AND sph.supplier_company_id = #{supplierCompanyId}
        </if>

        <if test="supplierId != null and supplierCompanyId != null">
            AND sph.supplier_company_id = #{supplierCompanyId} and ( sph.supplier_id is null or sph.supplier_id = #{supplierId})
        </if>


        <if test="agentId != null">
            and sph.agent_id = #{agentId}
        </if>
        <if test="companyId != null">
            and sph.company_id = #{companyId}
        </if>
        <if test="itemId != null">
            and spl.item_id = #{itemId}
        </if>
        <if test="invOrganizationId != null">
            and spll.inv_organization_id = #{invOrganizationId}
        </if>
        <if test="inventoryId != null">
            and spll.inv_location_id = #{inventoryId}
        </if>

        <if test="prLineId != null">
            AND sprl.pr_line_id = #{ prLineId }
        </if>
        order by sph.display_po_num asc, spl.display_line_num asc )temp4
        LEFT JOIN hpfm_inventory hi ON temp4.inventory_id = hi.inventory_id
    </select>
    <select id="rcwlQueryCanRcvTrxData" resultType="org.srm.purchasecooperation.cux.transaction.domain.vo.RcwlReceiveRcvTrxDataVO">
        <bind name="userDetails" value="@io.choerodon.core.oauth.DetailsHelper@getUserDetails()"/>
        select
        sah.asn_num,
        sah.asn_status,
        sal.asn_header_id,
        sal.asn_line_id,
        sal.asn_line_num,
        sal.item_id,
        sal.item_code,
        sal.item_name,
        sal.inventory_id,
        hi.inventory_code,
        hi.inventory_name,
        sal.location_id,
        hl.location_name,
        sal.po_line_location_id from_po_line_location_id,
        sal.asn_header_id from_asn_header_id,
        sal.asn_line_id from_asn_line_id,
        sah.inv_organization_id,
        sah.supplier_tenant_id,
        hio.organization_name inv_organization_name,
        hio.organization_code inv_organization_code,
        spll.po_header_id from_po_header_id,
        spll.po_line_id from_po_line_id,
        spl.currency_code,
        spl.unit_price/spl.unit_price_batch net_price,
        spl.entered_tax_included_price tax_included_price,
        spl.unit_price/spl.unit_price_batch po_unit_price,
        spl.line_amount net_amount,
        spl.tax_included_line_amount tax_included_amount,
        spl.tax_id,
        spl.unit_price entered_trx_price,
        spl.line_amount entered_trx_amount,
        spl.base_currency_code entered_currency_code,
        spl.rate_type,
        spl.rate_date exchange_rate_date,
        spl.rate exchange_rate,
        spl.uom_id,
        su.uom_code,
        sul.uom_name,
        sal.ship_quantity,
        sal.receive_quantity,
        sal.release_quantity,
        (
        sal.ship_quantity - sal.receive_quantity
        ) can_receive_quantity,
        sah.company_id,
        sah.company_name,
        sah.ou_id,
        sah.purchase_org_id pur_organization_id,
        sah.supplier_id,
        (CASE
        WHEN sph.supplier_id IS NOT NULL
        AND sph.supplier_code IS NOT NULL THEN
        sph.supplier_code
        WHEN sph.supplier_id IS NOT NULL
        AND sph.supplier_code IS NULL THEN
        es.supplier_num ELSE hc.company_num
        END
        ) AS supplier_num,
        <!--             sah.supplier_name,-->
        sah.supplier_site_id,
        sah.supplier_company_id,
        sah.supplier_company_name,
        (CASE
        WHEN sph.supplier_id IS NOT NULL AND sph.supplier_name IS NOT NULL THEN sph.supplier_name
        WHEN sph.supplier_id IS NOT NULL AND sph.supplier_name IS NULL THEN es.supplier_name
        ELSE hc.company_name END) AS supplier_name,
        <!--hc.company_name AS supplier_name,-->
        sph.supplier_ou_id,
        sph.terms_id,
        st.tax_rate,
        sah.actual_receiver_code,
        sah.actual_receiver_name,
        sah.ship_to_location_address,
        sal.unit_package_quantity,
        sal.package_quantity,
        sal.remainder_quantity,
        sal.lot_num,
        sal.lot_expiration_date,
        sal.production_date,
        sal.shelf_life,
        sal.invoice_num,
        sal.promised_date,
        spl.brand,
        spl.specifications,
        spl.model,
        spl.line_num,
        spl.remark,
        sal.agent_id,
        sph.agent_id AS po_agent_id,
        hpa.purchase_agent_code agent_code,
        hpa.purchase_agent_name agent_name,
        sah.external_system_code,
        sah.source_code,
        sal.tenant_id,
        spl.display_line_num,
        sah.asn_type_code,
        sph.display_po_num,
        spl.product_num,
        spl.product_name,
        spl.catalog_name,
        sph.display_release_num,
        spll.display_line_location_num,
        spl.version_num,
        sah.expected_arrive_date,
        sprl.pr_line_id,
        sal.deliver_time,
        sal.contact_info
        from
        sinv_asn_line sal
        join sinv_asn_header sah on sal.asn_header_id = sah.asn_header_id
        join sodr_po_line_location spll on sal.po_line_location_id = spll.po_line_location_id
        join sodr_po_line spl on spl.po_line_id = spll.po_line_id
        join sodr_po_header sph on sph.po_header_id = spll.po_header_id and spll.strategy_header_id is null/*过滤已经走新事务的订单*/
        LEFT JOIN sfin_auto_bill sab ON sab.po_line_location_id = spll.po_line_location_id
        AND sah.asn_type_code = 'E_COMMERCE_DELIVERY_LIST' AND sab.from_asn_line_id = sal.asn_line_id
        left join smdm_tax st on st.tax_id = spl.tax_id
        left join sslm_external_supplier es ON sph.supplier_id = es.supplier_id
        left join hpfm_inventory hi on sal.inventory_id = hi.inventory_id
        left join hpfm_location hl on sal.location_id = hl.location_id
        left join smdm_uom su on spl.uom_id = su.uom_id
        LEFT JOIN smdm_uom_tl sul on su.uom_id=sul.uom_id and sul.lang=#{userDetails.language}
        left join hpfm_inv_organization hio on sah.inv_organization_id = hio.organization_id
        left join hpfm_purchase_agent hpa on sal.agent_id = hpa.purchase_agent_id
        LEFT JOIN spfm_partner sp ON sp.partner_company_id=sah.supplier_company_id AND sp.company_id=sah.company_id
        left join sslm_supplier_basic hc on hc.supplier_basic_id = sp.supplier_basic_id
        left join sprm_pr_line sprl on sprl.pr_line_id = spl.pr_line_id
        left join smdm_item hil on hil.item_id = sal.item_id
        where
        1 = 1
        and sph.tenant_id = sal.tenant_id
        and sal.tenant_id = sah.tenant_id
        and sah.tenant_id = spl.tenant_id
        and sal.tenant_id = #{tenantId}
        and (sal.ship_quantity - sal.receive_quantity) &gt; 0
        and sal.cancelled_flag = 0
        and sal.closed_flag = 0
        and sph.changing_flag != 1
        and sah.asn_status in ('SHIPPED','ARRIVED')
        <if test="asnNum != null and asnNum != ''">
            <bind name="asnNumLike" value="'%' + asnNum + '%'"/>
            and sah.asn_num like #{asnNumLike}
        </if>
        <if test="displayPoNum != null and displayPoNum != ''">
            <bind name="displayPoNumLike" value="'%' + displayPoNum + '%'"/>
            and (sph.display_po_num like #{displayPoNumLike} OR sph.po_num like #{displayPoNumLike})
        </if>
        <if test="asnTypeCode != null and asnTypeCode != ''">
            and sah.asn_type_code = #{asnTypeCode}
        </if>
        <if test="supplierId != null">
            and sph.supplier_id = #{supplierId}
        </if>
        <if test="agentId != null">
            and sal.agent_id = #{agentId}
        </if>
        <if test="companyId != null">
            and sph.company_id = #{companyId}
        </if>
        <if test="itemId != null">
            and sal.item_id = #{itemId}
        </if>
        <if test="invOrganizationId != null">
            and sah.inv_organization_id = #{invOrganizationId}
        </if>
        <if test="inventoryId != null">
            and sal.inventory_id = #{inventoryId}
        </if>
        <if test="fromExpectedArriveDate != null">
            and sah.expected_arrive_date &gt;= #{fromExpectedArriveDate}
        </if>
        <if test="toExpectedArriveDate != null">
            and sah.expected_arrive_date &lt; #{toExpectedArriveDate}
        </if>
        <if test="supplierCompanyId != null">
            AND sah.supplier_company_id = #{ supplierCompanyId }
        </if>
        <if test="prLineId != null">
            AND sprl.pr_line_id = #{ prLineId }
        </if>
        order by sah.asn_num desc, sal.asn_line_num asc
    </select>
</mapper>