<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.purchasecooperation.cux.acp.infra.mapper.RCWLAcpUserDataMapper">
    <select id="acpGetData"
            parameterType="org.srm.purchasecooperation.cux.acp.domain.entity.RCWLAcpInvoiceData"
            resultType="org.srm.purchasecooperation.cux.acp.api.dto.RCWLAcpUserDataDTO">
           SELECT
	fc.company_num user_id
FROM
	hpfm_company fc,
	ssta_settle_header h
WHERE
	fc.company_id = h.supplier_company_id and
 h.tenant_id=#{organizationId} and h.settle_num = #{invoiceNum}
    </select>
    <select id="getBuyerTaxNo" resultType="java.lang.String">
        SELECT
            fc.unified_social_code
        FROM
            hpfm_company fc,
            ssta_settle_header h
        WHERE
            fc.company_id = h.supplier_company_id and
            h.tenant_id=#{organizationId} and h.settle_num = #{invoiceNum}
    </select>

</mapper>