<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.purchasecooperation.cux.order.infra.mapper.RcwlMyPoHeaderMapper">
    <select id="rcwlSelectHeaderdetail" resultType="org.srm.purchasecooperation.order.api.dto.PoHeaderDetailDTO">
        <bind name="userDetails" value="@io.choerodon.core.oauth.DetailsHelper@getUserDetails()"/>
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        sph.tenant_id,
        sph.po_header_id,
        sph.pr_header_id,
        sph.po_num,
        sph.ou_id,
        sph.release_num,
        sph.version_num,
        sph.amount,
        sph.tax_include_amount,
        sph.source_bill_type_code,
        sph.ship_to_loc_cont_name,
        sph.ship_to_loc_tel_num,
        sph.bill_to_loc_cont_name,
        sph.bill_to_loc_tel_num,
        sph.created_by,
        iu.login_name created_name,
        sph.receiver_email_address,
        sph.tax_register_address,
        sph.tax_register_num,
        sph.tax_register_bank,
        sph.tax_register_bank_account,
        sph.invoice_title,
        sph.tax_register_tel,
        sph.invoice_type_code,
        sph.invoice_method_code,
        sph.invoice_title_type_code,
        sph.invoice_detail_type_code,
        sph.agent_id,
        sph.publish_cancel_flag,
        sph.closed_flag,
        sph.purchase_org_id,
        sot.return_order_flag,
        com.company_num,
        (
        CASE
        WHEN sph.company_name IS NULL THEN com.company_name
        ELSE sph.company_name
        END
        ) AS company_name,
        sph.company_id,
        sph.currency_code,
        sph.domestic_currency_code,
        (
        CASE
        WHEN sph.supplier_id IS NOT NULL AND sph.supplier_code IS NOT NULL THEN sph.supplier_code
        WHEN sph.supplier_id IS NOT NULL AND sph.supplier_code IS NULL THEN es.supplier_num
        ELSE scom.company_num
        END
        ) AS supplier_code,
        (
        CASE
        WHEN sph.supplier_id IS NOT NULL AND sph.supplier_name IS NOT NULL THEN sph.supplier_name
        WHEN sph.supplier_id IS NOT NULL AND sph.supplier_name IS NULL THEN es.supplier_name
        WHEN sph.supplier_id IS NULL AND sph.supplier_company_name IS NULL THEN scom.company_name
        ELSE sph.supplier_company_name
        END
        ) AS supplier_name,
        sph.supplier_id,
        sph.supplier_tenant_id,
        sph.status_code,
        sph.source_code,
        sph.domestic_amount,
        sph.domestic_tax_include_amount,

        sph.released_date,
        sph.ship_to_location_address,
        sph.bill_to_location_address,
        sph.attachment_uuid,
        sph.supplier_attachment_uuid,
        sph.purchaser_inner_attachment_uuid,
        sph.po_type_id,
        sph.supplier_company_id,
        sph.supplier_company_name,
        ou.ou_name,
        sph.delivery_sync_status,

        (SELECT
        spllo.delivery_sync_response_msg
        FROM
        sodr_po_line_location spllo
        WHERE
        spllo.po_header_id = #{poHeaderId,jdbcType=DECIMAL}
        and spllo.delivery_sync_status='FAIL'
        limit 1
        )  delivery_sync_response_msg,

        (SELECT
        spllo.delivery_sync_date
        FROM
        sodr_po_line_location spllo
        WHERE
        spllo.po_header_id = #{poHeaderId,jdbcType=DECIMAL}
        and spllo.delivery_sync_status='FAIL'
        limit 1
        )  delivery_sync_date,
        sph.terms_id,
        hpt.term_name AS  terms_name,
        hpa.purchase_agent_name AS agent_name,
        sott.order_type_name AS po_type_desc,
        sess.supplier_site_name AS supplier_site_name,
        hpo.organization_name AS purchase_org_name,
        sph.creation_date,
        sph.approved_sync_status,
        sph.approved_sync_response_msg,
        sph.approved_sync_date,
        sph.erp_contract_num,
        sph.remark,
        sph.frozen_flag,
        sph.display_po_num,
        sph.po_source_platform,
        sph.object_version_number,
        sph.invoice_type_name,
        sph.invoice_method_name,
        sph.invoice_title_type_name,
        sph.invoice_detail_type_name,
        (
        CASE
        WHEN  sppc.modifyable_price_flag = 1 AND sppc.only_lower_price_flag = 1 THEN -1
        WHEN  sppc.modifyable_price_flag = 1 AND sppc.only_lower_price_flag = 0 THEN 1
        WHEN  sppc.modifyable_price_flag = 0 THEN 0
        END
        )  modifyable_price_flag,
        sph.modify_price_flag,
        sph.confirmed_flag,
        sprhcom.mall_parent_order_num,
        sph.create_sync_status,
        sot.order_type_code,
        sph.un_save_enable,
        sph.original_po_header_id,
        sph2.display_po_num AS original_po_num,
        (SELECT
        max( spm.po_message_num ) -
        CASE
        WHEN ( SELECT COUNT(0) FROM sodr_po_msg_read_record spmrr WHERE spmrr.po_header_id = sph.po_header_id
        AND spmrr.user_id = #{userDetails.userId}
        AND spmrr.tenant_id = #{userDetails.tenantId}) = 0 THEN
        0 ELSE (SELECT
        spmrr.read_record_index
        FROM
        sodr_po_msg_read_record spmrr
        WHERE
        spmrr.po_header_id = sph.po_header_id
        AND spmrr.user_id = #{userDetails.userId}
        AND spmrr.tenant_id = #{userDetails.tenantId} ) END
        FROM
        sodr_po_message spm
        WHERE
        spm.po_header_id = sph.po_header_id) AS unread_count,
        (SELECT
        case when
        ( SELECT sum( t.net_received_quantity ) FROM sodr_po_line_location t WHERE t.po_header_id = sph3.po_header_id ) > 0 and not EXISTS (select 1 from sslm_kpi_eval_header skeh where skeh.attribute_varchar2 = sph3.po_num) THEN
        1 ELSE 0
        END
        FROM
        sodr_po_header sph3
        WHERE
        sph3.po_header_id = sph.po_header_id) attribute_varchar40
        FROM
        sodr_po_header sph
        LEFT JOIN smdm_payment_term hpt on sph.terms_id = hpt.term_id
        LEFT JOIN iam_user iu on iu.id=sph.created_by
        LEFT JOIN sodr_order_type sot ON sph.po_type_id = sot.order_type_id
        LEFT JOIN sodr_order_type_tl sott ON sott.order_type_id = sot.order_type_id AND sott.lang = #{lang}
        LEFT JOIN hpfm_purchase_agent hpa ON sph.agent_id = hpa.purchase_agent_id
        LEFT JOIN sslm_ext_supplier_site sess on sph.supplier_site_id=sess.supplier_site_id
        LEFT JOIN hpfm_purchase_organization hpo ON sph.purchase_org_id = hpo.purchase_org_id
        LEFT JOIN sslm_external_supplier es on sph.supplier_id=es.supplier_id and es.tenant_id = sph.tenant_id
        LEFT JOIN hpfm_company hcc on hcc.company_id = es.link_id
        LEFT JOIN hpfm_company com on sph.company_id=com.company_id and com.tenant_id = sph.tenant_id
        LEFT JOIN spfm_partner sp ON sp.partner_company_id=sph.supplier_company_id AND sp.company_id=sph.company_id
        LEFT JOIN sslm_supplier_basic scom on scom.supplier_basic_id=sp.supplier_basic_id
        LEFT JOIN hpfm_operation_unit ou on sph.ou_id=ou.ou_id
        LEFT JOIN sprm_pr_header sprhcom ON sprhcom.pr_header_id=sph.pr_header_id
        LEFT JOIN sodr_po_price_change sppc on sph.tenant_id = sppc.tenant_id and sph.po_source_platform = sppc.po_source_platform
        LEFT JOIN sodr_po_header sph2 ON sph.original_po_header_id = sph2.po_header_id
        WHERE
        1 = 1
        AND sph.po_header_id = #{poHeaderId,jdbcType=DECIMAL}
        AND sph.tenant_id = #{tenantId,jdbcType=DECIMAL}
        <bind name="userDetails" value="@io.choerodon.core.oauth.DetailsHelper@getUserDetails()"/>
        <if test="userDetails != null and !userDetails.organizationId.equals(userDetails.tenantId)">
            and (sph.supplier_tenant_id=#{userDetails.organizationId} OR hcc.tenant_id=#{userDetails.organizationId})
        </if>
    </select>
</mapper>
