<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.purchasecooperation.cux.order.infra.mapper.RcwlSpcmPcSubjectMapper">

    <select id="querySubjectByKey"  resultType="map">
        				select attribute_varchar21,attribute_varchar22,attribute_varchar23
        				    from spcm_pc_subject
        				         where pc_subject_id = #{subjectId}
        				         	AND attribute_varchar21 IS NOT NULL
                                    AND attribute_varchar22 IS NOT NULL
                                    AND attribute_varchar23 IS NOT NULL
    </select>

	<select id="queryPrLineByKey"  resultType="map">
        select  g.budget_account_num,
            g.cost_code,
            g.WBS from sprm_pr_line g where g.pr_line_id = #{prLineId}
    </select>
</mapper>